input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    
      }
      
  input[type=number], select {
    width: 100%;
    margin-left: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
 

  .mario {
  border: 1px solid #e1e1e1;
  border-radius: 5px;    
  padding: 17px;
  width: 300px;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  }

  .nuevo{
    border: 1px solid #e1e1e1;
    border-radius: 5px;    
    padding: 17px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  button[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div input{
    border-radius: 5px;
    background-color: #1af1b1;
    padding: 20px;
  }

  * {
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    min-height: 100vh;
  }
  
  /* Style the header */
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  .mover{
    width: 5%;
    position: absolute;
    left: 50%;

  }
  /* Style the top navigation bar */
  .topnav {
    
    overflow: hidden;
    background-color: rgb(12, 3, 3); 
   }

  .p1 {
    color:#000000;
    font-size:1px;
    line-height:2px;
  
  }

  h2{
    width: 50%;
    position: relative;
    top: 35%;
    left: 10%;
  }

  p{
    width: 30%;
    position: absolute;
    height: 50%;
    top: 18%;
    left: 5%;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
  }

  .imge-1 img{
    display: flex;
  justify-content: center;
  width: 300px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
  height: 300px;
  position: relative;
  top: 36%;
  left: 40%;
   }
  /* Style the footer */
  footer {
    background-color: rgb(10, 10, 9);
    padding: 10px;
    text-align: center;
    color: white;
    
  }
  .footer-1{
    position: sticky;
    left: 30%;
    top: 100%;
    

  }

  .footer-1 a{
    float: none;
    display: unset;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }

  .footer-1 a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
  }
   @media{}

   /* .imge-1 img{
    width: 100%;
    height: auto;
   } */

  